.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 19%, 24%);
    width: 550px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 30px 50px 1000px;
}

.adviceNums {
    padding-top: 40px;
    font-size: 15px;
    color: hsl(150, 100%, 66%);
}

.adviceText {
    padding: 20px;
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    text-align: center;
}

.generator {
    border: none;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 35px;
}

.dice {
    width: 26px;    
}

body {
    background-color: hsl(217, 19%, 38%);
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media screen and (max-width: 450px) {
    .divider {
        content: url(/images/pattern-divider-mobile.svg);
        width: 250px;
    }
    .container {
        width: 300px;
    }
    .adviceText{
        font-size: 20px;
    }
    .dice {
        width: 22px;    
    }
    .generator {
        width: 55px;
        height: 55px;
        top: 25px;
    }
    .adviceNums {
    font-size: 10px;
    }
}

@media screen and (min-width: 451px){
    .divider {
        content: url(/images/pattern-divider-desktop.svg);
    }

}